@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="Checkitem">
    <div class="row" style="padding-top:60px;direction:rtl;">
        <div class="col-lg-3 col-md-3 col-sm-12">
            متن مورد نظر را وارد کنید (انگلیسی وارد کنید نسخه فارسی موجود نیست فعلا )
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <input type="text" class="form-control" placeholder="متن انگلیسی را وارد کنید" name="name" id="name"/>
        </div>
    </div>
    <div class="row" style="padding-top:50px;direction:rtl">
        <input type="submit" value="بررسی کن !!" class="btn btn-success" style="width:200px;"/>
    </div>
</form>
<div class="row" style="padding-top:10px;direction:rtl;">
    <div class="text-center" style="color:green;">
        @ViewData["text"]
    </div>
</div>
